 body{
 background-image: url("/Images/About/BI.jpg");
 background-position: 0px 450px;
 height: 1000px;
 background-size: 2500PX 1000PX;
 background-repeat: no-repeat;
 opacity: 2;
}


#Video{
    width:  1100px;
    height: 650px;
    opacity: 0.7;
    position: fixed;

}

.container p{
 padding: 700px 10px;
 font-family: 'Times New Roman', Times, serif;
 font-size: 30PX;
 align-items: center;
 text-align: center;
 justify-content: center;
 color:hsl(221, 100%, 50%);
 font-weight: 1000;

}